<h2>Course List</h2>


<div class="form-group row">
    <label class="col-sm-3 col-form-label">Filter by Name:</label>
    <div class="col-sm-9">
        <input [(ngModel)]="filterCourseByName" class="form-control"/>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Code</th>
        <th>Duration</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td><img [src]="course.imageUrl" width="40" height="40"/></td><!-- propriedade entre cochetes -->
            <td>{{ course.name }}</td>
            <td>{{ course.price | currency }}</td>
            <td>{{ course.code | replaceChars:'-':'/' }}</td>
            <td>{{ course.duration }}</td>
            <td>
                <app-star [rating]="course.rating"></app-star>
            </td>
            <td>{{ course.releaseDate | date:'dd/MM/yyyy'}}</td>
            <td>
                <div class="btn-group">
                    <a [routerLink]="['/courses/info', course.id]" class='btn btn-primary' title="Edit {{ course.name }}"><span class="fa fa-edit"></span></a>
                    <a (click)="deleteById(course.id)" class='btn btn-danger' title="Delete {{ course.name }}"><span class="fa fa-trash"></span></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>